#panel {
    z-index: 104000!important;
    position: fixed;
}
.bx-core-popup-menu {
    z-index: 9999999!important;
}
.video {
    background-size: cover!important;
}


@media screen and (min-width: 480px) {
    .footer__contact {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .footer-phone-block a {
        margin-left: 40px;
    }
    .footer-social-block {
        min-width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .footer__contact {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .footer-phone-block a {
        display: block;
        /*margin-left: 40px   ;*/
    }
}